%header
  .header-container
    = image_tag "header-bg-icon.gif", class: "header-icon-img"
    .header-right-logo
      = image_tag 'header-logo.gif', class: "header-text-img"
      %span.header-text  ジムやスポーツシーンに活躍するトレーニングウェア、フィットネスウェアを紹介。
.header-line



